body{
    margin: 0;
    padding: 0;
}
body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.contact-form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    color: #aaaaaa
}

.contact-form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.contact-form p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.contact-form input
{
    width: 100%;
    margin-bottom: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.contact-form input[type="submit"] {
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
}
.contact-form a
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
input[type="checkbox"] {
    width: 20%;
}