body:before{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.contain-box
{
    margin-left: 30%;
    position: center;
    width: 550px;
    margin-bottom: 14%;
    height: 300px;
    padding: 80px 40px;
    background: rgba(0,0,0,.5);
}
